@font-face {
    font-family: 'Glyphicons files';
    src: url('glyphicons-filetypes-regular.eot');
    src: url('glyphicons-filetypes-regular.eot?#iefix') format('embedded-opentype'), url('glyphicons-filetypes-regular.woff') format('woff'), url('glyphicons-filetypes-regular.ttf') format('truetype'), url('glyphicons-filetypes-regular.svg#glyphicons-filetypes-regular') format('svg');
}

.glyphfiles {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons files';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphfiles-txt:before {
    content: "\e001";
}

.glyphfiles-doc:before {
    content: "\e002";
}

.glyphfiles-rtf:before {
    content: "\e003";
}

.glyphfiles-log:before {
    content: "\e004";
}

.glyphfiles-tex:before {
    content: "\e005";
}

.glyphfiles-msg:before {
    content: "\e006";
}

.glyphfiles-text:before {
    content: "\e007";
}

.glyphfiles-wpd:before {
    content: "\e008";
}

.glyphfiles-wps:before {
    content: "\e009";
}

.glyphfiles-docx:before {
    content: "\e010";
}

.glyphfiles-page:before {
    content: "\e011";
}

.glyphfiles-csv:before {
    content: "\e012";
}

.glyphfiles-dat:before {
    content: "\e013";
}

.glyphfiles-tar:before {
    content: "\e014";
}

.glyphfiles-xml:before {
    content: "\e015";
}

.glyphfiles-vcf:before {
    content: "\e016";
}

.glyphfiles-pps:before {
    content: "\e017";
}

.glyphfiles-key:before {
    content: "\e018";
}

.glyphfiles-ppt:before {
    content: "\e019";
}

.glyphfiles-pptx:before {
    content: "\e020";
}

.glyphfiles-sdf:before {
    content: "\e021";
}

.glyphfiles-gbr:before {
    content: "\e022";
}

.glyphfiles-ged:before {
    content: "\e023";
}

.glyphfiles-mp3:before {
    content: "\e024";
}

.glyphfiles-m4a:before {
    content: "\e025";
}

.glyphfiles-waw:before {
    content: "\e026";
}

.glyphfiles-wma:before {
    content: "\e027";
}

.glyphfiles-mpa:before {
    content: "\e028";
}

.glyphfiles-iff:before {
    content: "\e029";
}

.glyphfiles-aif:before {
    content: "\e030";
}

.glyphfiles-ra:before {
    content: "\e031";
}

.glyphfiles-mid:before {
    content: "\e032";
}

.glyphfiles-m3v:before {
    content: "\e033";
}

.glyphfiles-e_3gp:before {
    content: "\e034";
}

.glyphfiles-shf:before {
    content: "\e035";
}

.glyphfiles-avi:before {
    content: "\e036";
}

.glyphfiles-asx:before {
    content: "\e037";
}

.glyphfiles-mp4:before {
    content: "\e038";
}

.glyphfiles-e_3g2:before {
    content: "\e039";
}

.glyphfiles-mpg:before {
    content: "\e040";
}

.glyphfiles-asf:before {
    content: "\e041";
}

.glyphfiles-vob:before {
    content: "\e042";
}

.glyphfiles-wmv:before {
    content: "\e043";
}

.glyphfiles-mov:before {
    content: "\e044";
}

.glyphfiles-srt:before {
    content: "\e045";
}

.glyphfiles-m4v:before {
    content: "\e046";
}

.glyphfiles-flv:before {
    content: "\e047";
}

.glyphfiles-rm:before {
    content: "\e048";
}

.glyphfiles-png:before {
    content: "\e049";
}

.glyphfiles-psd:before {
    content: "\e050";
}

.glyphfiles-psp:before {
    content: "\e051";
}

.glyphfiles-jpg:before {
    content: "\e052";
}

.glyphfiles-tif:before {
    content: "\e053";
}

.glyphfiles-tiff:before {
    content: "\e054";
}

.glyphfiles-gif:before {
    content: "\e055";
}

.glyphfiles-bmp:before {
    content: "\e056";
}

.glyphfiles-tga:before {
    content: "\e057";
}

.glyphfiles-thm:before {
    content: "\e058";
}

.glyphfiles-yuv:before {
    content: "\e059";
}

.glyphfiles-dds:before {
    content: "\e060";
}

.glyphfiles-ai:before {
    content: "\e061";
}

.glyphfiles-eps:before {
    content: "\e062";
}

.glyphfiles-ps:before {
    content: "\e063";
}

.glyphfiles-svg:before {
    content: "\e064";
}

.glyphfiles-pdf:before {
    content: "\e065";
}

.glyphfiles-pct:before {
    content: "\e066";
}

.glyphfiles-indd:before {
    content: "\e067";
}

.glyphfiles-xlr:before {
    content: "\e068";
}

.glyphfiles-xls:before {
    content: "\e069";
}

.glyphfiles-xlsx:before {
    content: "\e070";
}

.glyphfiles-db:before {
    content: "\e071";
}

.glyphfiles-dbf:before {
    content: "\e072";
}

.glyphfiles-mdb:before {
    content: "\e073";
}

.glyphfiles-pdb:before {
    content: "\e074";
}

.glyphfiles-sql:before {
    content: "\e075";
}

.glyphfiles-aacd:before {
    content: "\e076";
}

.glyphfiles-app:before {
    content: "\e077";
}

.glyphfiles-exe:before {
    content: "\e078";
}

.glyphfiles-com:before {
    content: "\e079";
}

.glyphfiles-bat:before {
    content: "\e080";
}

.glyphfiles-apk:before {
    content: "\e081";
}

.glyphfiles-jar:before {
    content: "\e082";
}

.glyphfiles-hsf:before {
    content: "\e083";
}

.glyphfiles-pif:before {
    content: "\e084";
}

.glyphfiles-vb:before {
    content: "\e085";
}

.glyphfiles-cgi:before {
    content: "\e086";
}

.glyphfiles-css:before {
    content: "\e087";
}

.glyphfiles-js:before {
    content: "\e088";
}

.glyphfiles-php:before {
    content: "\e089";
}

.glyphfiles-xhtml:before {
    content: "\e090";
}

.glyphfiles-htm:before {
    content: "\e091";
}

.glyphfiles-html:before {
    content: "\e092";
}

.glyphfiles-asp:before {
    content: "\e093";
}

.glyphfiles-cer:before {
    content: "\e094";
}

.glyphfiles-jsp:before {
    content: "\e095";
}

.glyphfiles-cfm:before {
    content: "\e096";
}

.glyphfiles-aspx:before {
    content: "\e097";
}

.glyphfiles-rss:before {
    content: "\e098";
}

.glyphfiles-csr:before {
    content: "\e099";
}

.glyphfiles-less:before {
    content: "\003c";
}

.glyphfiles-otf:before {
    content: "\e101";
}

.glyphfiles-ttf:before {
    content: "\e102";
}

.glyphfiles-font:before {
    content: "\e103";
}

.glyphfiles-fnt:before {
    content: "\e104";
}

.glyphfiles-eot:before {
    content: "\e105";
}

.glyphfiles-woff:before {
    content: "\e106";
}

.glyphfiles-zip:before {
    content: "\e107";
}

.glyphfiles-zipx:before {
    content: "\e108";
}

.glyphfiles-rar:before {
    content: "\e109";
}

.glyphfiles-targ:before {
    content: "\e110";
}

.glyphfiles-sitx:before {
    content: "\e111";
}

.glyphfiles-deb:before {
    content: "\e112";
}

.glyphfiles-e_7z:before {
    content: "\e113";
}

.glyphfiles-pkg:before {
    content: "\e114";
}

.glyphfiles-rpm:before {
    content: "\e115";
}

.glyphfiles-cbr:before {
    content: "\e116";
}

.glyphfiles-gz:before {
    content: "\e117";
}

.glyphfiles-dmg:before {
    content: "\e118";
}

.glyphfiles-cue:before {
    content: "\e119";
}

.glyphfiles-bin:before {
    content: "\e120";
}

.glyphfiles-iso:before {
    content: "\e121";
}

.glyphfiles-hdf:before {
    content: "\e122";
}

.glyphfiles-vcd:before {
    content: "\e123";
}

.glyphfiles-bak:before {
    content: "\e124";
}

.glyphfiles-tmp:before {
    content: "\e125";
}

.glyphfiles-ics:before {
    content: "\e126";
}

.glyphfiles-msi:before {
    content: "\e127";
}

.glyphfiles-cfg:before {
    content: "\e128";
}

.glyphfiles-ini:before {
    content: "\e129";
}

.glyphfiles-prf:before {
    content: "\e130";
}

.glyphfiles-json:before {
    content: "\e131";
}