<?xml version="1.0"?>

<configuration>

  <property name="LOG_HOME" value="/opt/tfam/logs" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are  by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="nstic.util.JansiPatternLayout">
        <pattern>%date{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{5} - %msg%n</pattern>
      </layout>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_HOME}/tfam.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover. Make sure the path matches the one in the file element or else
       the rollover logs are placed in the working directory. -->
      <fileNamePattern>${LOG_HOME}/tfam.log.%d{yyyy-MM-dd}.%i</fileNamePattern>

      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <!-- encoders are  by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="nstic.util.JansiPatternLayout">
        <pattern>%date{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{5} - %msg%n</pattern>
      </layout>
    </encoder>
  </appender>
  <appender name="URL_AUDIT_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_HOME}/url-printer.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- daily rollover. Make sure the path matches the one in the file element or else
       the rollover logs are placed in the working directory. -->
      <fileNamePattern>${LOG_HOME}/url-printer.log.%d{yyyy-MM-dd}.%i</fileNamePattern>

      <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        <maxFileSize>5MB</maxFileSize>
      </timeBasedFileNamingAndTriggeringPolicy>
      <!-- keep 30 days' worth of history -->
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <!-- encoders are  by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
    <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
      <layout class="nstic.util.JansiPatternLayout">
        <pattern>%date{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
      </layout>
    </encoder>
  </appender>

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </root>

  <logger name="grails.plugins.hibernate.search" level="DEBUG" />
  <logger name="grails.app" level="DEBUG" />
  <logger name="org.gtri" level="DEBUG" />
  <logger name="tmf.host" level="DEBUG" />


  <logger name="jdbc" level="DEBUG" />


  <!--<logger name="org.springframework" level="DEBUG" />-->
  <!--<logger name="org.hibernate" level="DEBUG" />-->
  <!--<logger name="org.grails" level="DEBUG" />-->
  <!--<logger name="org.grails.gorm" level="DEBUG" />-->


  <logger name="grails.app.controllers.tmf.host.UrlPrinterInterceptor" level="INFO">
    <appender-ref ref="URL_AUDIT_LOG" />
  </logger>

  <logger name="edu.gatech.gtri.trustmark" level="INFO" />
  <logger name="edu.gatech.gtri.trustmark.v1_0.impl.io.bulk.XmlJsonBulKReader" level="DEBUG" />

  <logger name="grails.plugin.formfields" level="DEBUG" />

</configuration>
